.main {
    height:  100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.header {
    width: 100%;
    height: 75px;
    background-color: coral;
}

.body {
    border-radius: 10px;
    margin-top: 10px;
    height: 250px;
    min-width: 700px;
    max-width: 700px;
    box-shadow: 1px 1px 20px 1px;
    text-align: center;
}