.statusList {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.wrapper-status {
    border-radius: 10px;
}

.wrapper-status-button {
    color: aqua;
    border-radius: 10px;
    width: 35px;
    text-align: center;
}