.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;  
    align-items: stretch;
    height: 90%;
}

.wrapper-status-list {
    display: flex;
    justify-content: center;
    background-color: cadetblue;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.left-button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 5%;
    min-width: 70px;
}

.wrapper-for-main-question {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
}

.right-button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 5%;
    min-width: 70px;
}